@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Summit Heights University</h1>
</div>
<div class="hero-container">
    <img src="~/images/hero-img.jpg" alt="Image of Students" />
</div>
